<div class="group-form w-75 mx-auto my-5">
    <div class="row">
        <label for="data-table-input" class="mb-4 mx-auto display-4">Table data</label>
    </div>
    <textarea [(ngModel)]="rawTableData" class="form-control" id="table-data-input" rows="12"></textarea>
    <div class="row mt-5">
        <button type="button" class="btn btn-outline-dark mx-auto" (click)="importFromInput()">Import table</button>
        <button *ngIf="tablePresence;" type="button" class="btn btn-outline-dark mx-auto" (click)="toTable()">Back to table</button>
    </div>
    <div class="row my-5">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="table-data-file" accept=".json, .csv" 
            (change)="handleFileInput($event.target.files)">
            <label  class="custom-file-label" for="table-data-file">{{ fileName }}</label>
        </div>
    </div>
    <div class="row my-5">
        <button type="button"  class="btn btn-outline-dark mx-auto" (click)="importFromFile()">Import table from file</button>
    </div>
</div>