<div class="group-form w-75 mx-auto my-5">
    <div class="row">
        <label for="data-table-input" class="mb-4 mx-auto display-4">Table data</label>
    </div>
    <textarea [ngModel]="rawTableData" class="form-control" id="table-data-output" rows="12" disabled></textarea>
    <div class="row mx-auto my-5 w-60">
        <button type="button" class="btn btn-outline-dark col mr-5" (click)="backToEditor()">Back</button>
        <button type="button" class="btn btn-outline-dark col mx-5" (click)="switchFormat()">{{ switcherText }}</button>
        <button type="button" class="btn btn-outline-dark col ml-5" (click)="exportToFile()">Export to file</button>
    </div>
</div>